

* {
    /* background-color: antiquewhite; */
}

body {
  background-color: #F5F5F5;
}

table, tr, th, td {
  border: 1px solid slategray;
}

thead th {
  background: #808080;
  color: #28002B;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.headser {
  /* writing-mode: vertical-rl;
  text-orientation: upright; */
  font-size: 12px;
}

tr {
  /* background: #066686; */
  /* border-bottom: 2px solid #000000; */
  margin-bottom: 2px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 2px;
  text-align: left;
}

.search {
  background-color: whitesmoke;
  border: 1px solid #DDD;
  border-radius: 15px;
  color: #AAA;
  padding: 20px;
  margin: 10px auto 0px 10px;
  width: 10%;
}
li {
   list-style-type: none;
}

.W {
  /* background-color: green; */
  color:  green;
}

.D {
  /* background-color: gray; */
  color: gray;
}

.L {
  /* background-color: red; */
  color: red;
}

tr.ChampionsLeague {
  background-color: #00004B;
  border-bottom: 2px solid #000000;
  color: goldenrod;
}

tr.EuropaLeague {
  background-color: #FF6900 /*#DDDDDD*/;
  border-bottom: 2px solid #000000;
  color: #333333 ;
}

/* tr:nth-child(even) {
  background-color: #D6EEEE;
} */

tr.Relegation {
  background-color: #D0D0D0;
  border-bottom: 2px solid #000000;
  color: sienna;
}

.PosWk9, .PosWk8, .PosWk7, .PosWk6,.PosWk5,.PosWk4,.PosWk3,.PosWk2,.PosWk1,.Pos0 {
  /* background-color: seashell; */
  text-align: center;
}

.Crest {
  /* background-color: cornflowerblue; */
  text-align: center;
}

#info::before {
  content: "ℹ️";
  margin-right: 5px;
}