* {
    background-color: antiquewhite;
}

/* table, {
  border: 1px solid black;
} */

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #000000;
  margin-bottom: 1px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
}